/* https://unsplash.com/photos/ICKXIX3RHQo */
html {
    background-color: lightgrey;
}

/* body style */
body {
    color: black;
    height: 900px;

}

h2#menu {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

section#menu{
    font-size: 30px;
    clear: right;
    padding: 20px;
}

/* main navigation style */
nav li {
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    padding:20px;
    float: right;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 5px;

}

ul a:link {
    color: black;
}

nav li:hover {

    font-size: 50px;
}

nav li a:visited {
    color: orange;

}

