html {
    background-color: white;
}

@font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins.ttf");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body style */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;

}

h2#menu1 {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 20px;
}

section#menu{
    font-size: 30px;
    clear: right;
    padding: 20px;
}

section img {
    border-radius: 18%;
    filter: drop-shadow(-14px 15px 8px lightsalmon)
}

/* main navigation style */
nav li {
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
    padding:10px;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px 5px;

}

ul a:link {
    color: black;
}

nav li:hover {

    font-size: 25px;
}

nav li a:visited {
    color: orange;

}

hr{
    width:100%;
    border:0;
    border-bottom: 1px solid black;
}

hr{
    width:100%;
    border:0;
    border-bottom: 1px solid black;
}

/* style for announcement on About us page */
.announcement {
    display: inline-block;
    height: 110%;
    text-align: center;
    width: 100%;
    background: grey;
    color: beige;
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
    font-size: 15px;
  }
  
  .announcement a { 
    color: #ccc; 
  }
  
  .announcement a:hover {
    color: red;
  }

  /*style for header with animation */
  header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(45deg, rgb(211,211,211),rgb(185, 210, 198), rgb(175, 200, 159), rgb(164, 219, 164), rgb(108, 167, 168));
    
  }
  #ylogo{
    margin-left: 20px;
  }

  #ypot{
    margin: 5px;
}

#ypot:hover{
    transform: rotate(-20deg);
    
}


div#ydrop1{
    border-radius: 30px 30px 30px 30px ;
    padding-top: 5px;
    width: 5px;
    height:20px;
    background-color: lightgrey;
    animation-name: yLine1;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-iteration-count: 10;
    animation-direction:normal;
    margin-left: 20px;
}

div#ydrop2{
    border-radius: 40px 40px 40px 40px ;
    padding-top: 5px;
    width: 5px;
    height:10px;
    background-color: aliceblue;
    animation-name: yLine2;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-iteration-count: 10;
    animation-direction:normal;
    margin-left: 20px;
}

div#ydrop3{
    border-radius: 40px 40px 40px 40px ;
    padding-top: 25px;
    width: 5px;
    height:10px;
    background-color: rgb(175, 200, 159);
    animation-name: yLine3;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-iteration-count: 10;
    animation-direction:normal;
    margin-left: 20px;
}


@keyframes yLine1 {
    0% {background-color:  green;
        left: 20px;
        top: 5px;}
    20%{background-color:  rgb(211,211,211);
         left: 20px;
         top: 5px;}
     40% {background-color: rgb(201, 211, 206);
        left: 20px;
        top: 10px;}
     60% {background-color: rgb(175, 200, 159);
        left: 20px;
        top: 15px;}
     80% {background-color: rgb(164, 219, 164);
         left: 20px;
         top: 20px;}
     100% {background-color: rgb(108, 167, 168);
         left: 20px;
         top: 25px;}
}

@keyframes yLine2 {
    0% {background-color:  aliceblue;
        left: 20px;
        top: 10px;}
    20%{background-color:  rgb(211,211,211);
         left: 20px;
         top: 10px;}
     40% {background-color: rgb(201, 211, 206);
        left: 20px;
        top: 15px;}
     60% {background-color: rgb(175, 200, 159);
        left: 20px;
        top: 20px;}
     80% {background-color: rgb(164, 219, 164);
         left: 20px;
         top: 25px;}
     100% {background-color: rgb(108, 167, 168);
         left: 20px;
         top: 30px;}
 }

 @keyframes yLine3 {
    0% {background-color:  green;
        left: 20px;
        top: 15px;}
    20%{background-color:  rgb(211,211,211);
         left: 20px;
         top: 15px;}
     40% {background-color: rgb(201, 211, 206);
        left: 20px;
        top: 20px;}
     60% {background-color: rgb(175, 200, 159);
        left: 20px;
        top: 25px;}
     80% {background-color: rgb(164, 219, 164);
         left: 20px;
         top: 30px;}
     100% {background-color: rgb(108, 167, 168);
         left: 20px;
         top: 35px;}
}


.ycontainer1{
    display: grid;
    grid-template-columns:auto 1fr;
    grid-template-rows: auto 1fr;
    align-items:center;
 }
 .ylogo{
    grid-column: 1;
    grid-row: 1 / span2;
 }

 .ydumpling{
    grid-column: 2;
    grid-row: 2;
 }

 .ycontainer2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    position:relative;
 }
 
 .yAnimation{
    grid-column: 4;
    grid-row: 2;
 }

 
 #ypot{
    display:grid ;
    padding-left: 20px;
 }
 
 #ydrop1{
    grid-column: 4;
    grid-row: 2;
    margin-top: 25px;
 }

 #ydrop2{
    grid-column: 4;
    grid-row: 2;
    margin-top: 33px;
 }
 #ydrop3{
    grid-column: 4;
    grid-row: 2;
    margin-top: 41px;
 }

 #ycup{
    padding-right: 15px;
 }


/* style for footer */

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    bottom:0;
    background-image: linear-gradient(45deg, rgb(108, 167, 168),rgb(164, 219, 164),rgb(175, 200, 159),rgb(185, 210, 198),rgb(211,211,211));
    color: black;
    padding: 10px 0 10px;
    font-size: 12px;
    line-height: 20px;
    margin-top: auto;
}

.row{
    width:100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    font-size:12px;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
}

.fa-regular{
    color:black;
    text-decoration: none;
}

.fa-regular:hover{
    color:#9a9a9a;
}

.fa-solid:hover{
    color:#9a9a9a;
}

footer form input{
    margin-left: 5px;
    width: 225px;
    background: transparent;
    color: black;
    border: 0;
    outline: none;
    border-bottom: 1px solid#eee;
}

footer form button{
    background: transparent;
    color: black;
    border: 0;
    outline: none;
    cursor: pointer;
}

.copyright{
    width:100%;
    text-align: center;
    border-top: 1px solid black;
}

/* style for About Us page */

.about{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    gap:5rem;
}

.slider-wrapper {
    display: flex; 
    position:relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 10px 10px 10px black;
    border-radius: 1.5rem;
    overflow-x: hidden;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position:absolute;
    bottom:1rem;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
    gap:2rem;
}

.slider-nav a{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
}

.slider-nav a:hover{
    background:#9a9a9a;
}

/* style for about-button */

#about-button{
    background: #f2745f;
    padding:10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#about-button:hover{
    background-color: yellow;
    font-weight: bold;
}

section#head {
    height: 100vh;
    min-height: 500px;
    background-image: url('../Images/home_img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }