html {
    background-color: white;
}

/* body style */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: inherit;
}

h2#menu {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 20px;
}

section#menu{
    font-size: 30px;
    clear: right;
    padding: 20px;
}

section img {
    border-radius: 18%;
    filter: drop-shadow(-14px 15px 8px lightsalmon)
}

/* main navigation style */
nav li {
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    padding:20px;
    float: right;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 5px;

}

ul a:link {
    color: black;
}

nav li:hover {

    font-size: 50px;
}

nav li a:visited {
    color: orange;

}

.announcement {
    display: inline-block;
    height: 110%;
    text-align: center;
    width: 100%;
    background: grey;
    color: beige;
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
    font-size: 15px;
  }
  
  .announcement a { 
    color: #ccc; 
  }
  
  .announcement a:hover {
    color: red;
  }

  header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(45deg, rgb(211,211,211),rgb(185, 210, 198), rgb(175, 200, 159), rgb(164, 219, 164), rgb(108, 167, 168));
    
  }

  #pri{
    width: 10px;
    height:100px;
    background-color: gold;
    margin: 5px;
    position:relative;
    transform:translate(10px, 15px);
    transition: (width 2s, height 5s, transform 3s);
}

#pri:hover{
    width: 650px;
    height: 5px;
    transform: rotate(180deg);
    background-color: rgb(175, 200, 159);
    
}

div#sec{
    width: 8px;
    height:8px;
    background-color: rgb(108, 167, 168);
    animation-name: myLine;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-iteration-count: 3;
    animation-direction: reverse;
    margin: 15px;
    position: relative;
}

@keyframes myLine {
    0% {
         background-color:  rgb(211,211,211);
         left: 0px;
         top: 0px;
     }
     25% {
         background-color: rgb(201, 211, 206);
        left: 100px;
        top: 0px;
     }
     50% {
        background-color: rgb(175, 200, 159);
        left: 200px;
        top: 0px;
     }
     75% {
         background-color: rgb(164, 219, 164);
         left: 100px;
         top: 0px;
     }
     100% {
         background-color: rgb(108, 167, 168);
         left: 50px;
         top: 0px;
     }
 }

/* style for footer */

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    bottom:0;
    background-image: linear-gradient(45deg, rgb(108, 167, 168),rgb(164, 219, 164),rgb(175, 200, 159),rgb(185, 210, 198),rgb(211,211,211));
    color: black;
    padding: 10px 0 10px;
    font-size: 12px;
    line-height: 20px;
    margin-top: auto;
}

.row{
    width:100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    font-size:12px;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
}

.email {
    width: fit-content;
    position: relative;
    margin: 10px 0;
}

form{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

form input{
    margin-left: 5px;
    width: 100%;
    background: transparent;
    color: black;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    color: black;
    border: 0;
    outline: none;
    cursor: pointer;
}

hr{
    width:100%;
    border:0;
    border-bottom: 1px solid black;
}

.copyright{
    width:100%;
    text-align: center;
}
