/* https://unsplash.com/photos/ICKXIX3RHQo */
html {
    background-color: grey
}

body {
    font-size: 20px;
    color: black;

}

nav li {
    display: inline;

}

nav li a:hover:not(.active) {
    color: black;

}

nav li a:visited {
    color: orange;

}