div#pos {

    width: 100px;
    
    height: 100px;
    
    background-color: lightgreen;
    
    animation-name: myFun;
    
    animation-duration: 4s;
    
    /*name and duration must be existed together*/
    
    animation-delay: 2s; /*when does the animation start*/
    
    animation-iteration-count:3; /*how many times to repeat*
    
    animation-direction: reverse;
    
    margin: 15px;
    
    position: relative; /*relative from its normal position*
    
    /*left: 12px; */
    
    }
    
    @keyframes myFun {
    
    from{
    
    background-color: yellow;
    
    }
    
    to {
    
    background-color: red;
    
    }
    
    }
    
    @keyframes myFun {
    
    0%{ /*phase of the animation*/
    
    background-color: yellow;
    
    left: 0px;
    
    top: 0px;
    
    }
    
    25%{ /*phase of the animation*/
    
    background-color: purple;
    
    left: 200px;
    
    top: 200px;
    
    }
    
    50% {
    
    background-color: red;
    
    left: 200px;
    
    top: 0px;
    
    }
    
    75%{
    
    background-color: blue;
    
    top: 200px;
    
    left: 100px;
    
    }
    
    100%{
    
    background-color: pink
    
    left: 0px;
    
    top: 0px;
    
    }
    
    }

    div#cont{

        width:300px;
        
        height: 150px;
        
        border: 2px solid black;
        
        background-color: lightgray;
        
        transform: rotate(90deg);
        
        transition: width 4s, height 3s;
        
        }
        
        div#cont:hover {
        
        width:300px;
        
        height: 300px;
        
        transform: rotate (90deg);
        
        }